@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
input {
  outline: 0;
}

.szh-accordion__item-btn {
  width: 100%;
}

.szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
